*{
    margin: 0;
    padding: 0;
}

body{
    height: 92vh;
    background-image: url(assets/fundo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-origin: center;
    background-size: cover;
}

nav{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    opacity: 0.8;
}

.logo{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 500px;
    width: 73px;
}


ul{
    display: flex;
}

a{
    color: red;
    text-decoration: none;
    transition: 0.5s;
    padding: 10px;
    border-radius: 8px;
}

a:hover{
    opacity: 0.8;
    background-color: rgb(173, 173, 11);
}

ul{
    color: rgb(0, 0, 0);
    list-style: none;
    gap: 70px;
    letter-spacing: 3px;
    align-items: center;
}

.button{
    background-color: blue;
    border: 100px;
    color: aliceblue;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-size: 15px;
    transition: 0.4;
}

button:hover{
    background-color: blue;
    color: rgb(92, 111, 105);
}

.bloco{
    display: inline-flex;
    justify-content: flex-start;
    color: rgb(44, 215, 96);
    flex-direction: column;
    width: 325px;
    padding: 50px;
    grid-template-columns: none;
    text-align: justify;
}

img{
    border-radius: 10px;
    margin: 15px;
}

.bloco-img{
    width: 300px;
    height: 300px;
}